-
    var prods = [
        {
            "id": 1,
            "isSale": "-30%",
            isNew: true,
            "title": "Syltherine",
            text: "Stylish cafe chair",
            price: "Rp 2.500.000",
            oldPrice: "Rp 3.500.000"
        },
        {"id": 2, title: "Leviosa", text: "Stylish cafe chair", price: "Rp 2.500.000", oldPrice: "Rp 3.500.000"},
        {
            "id": 3,
            "isSale": "-50%",
            title: "Lolito",
            text: "Luxury big sofa",
            price: "Rp 7.000.000",
            oldPrice: "Rp 14.000.000"
        },
        {"id": 4, "isNew": true, title: "Respira", text: "Minimalist fan", price: "Rp 500.000", oldPrice: ""},
        {"id": 5, title: "Grifo", text: "Night Lamp", price: "Rp 1.500.000", oldPrice: ""},
        {"id": 6, "isNew": true, title: "Muggo", text: "Small mug", price: "Rp 150.000", oldPrice: ""},
        {
            "id": 7,
            "isSale": "-50%",
            title: "Pingky",
            text: "Cute bed set",
            price: "Rp 7.000.000",
            oldPrice: "Rp 14.000.000"
        },
        {"id": 8, "isNew": true, title: "Potty", text: "Minimalist flower pot", price: "Rp 500.000", oldPrice: ""},
    ];

.products
    .container.products__container
        h2.title.products__title
            | Our Products
        .products__items
            each product in prods
                article(data-pid=product.id).products__item.item-product
                    .item-product__labels
                        if product.isSale
                            span.item-product__label.item-product__label--sale -30%
                        if product.isNew
                            span.item-product__label.item-product__label--new New
                    a(href="#").item-product__image
                        picture
                            source(
                                srcset=`img/product-` + product.id + '@2x.webp 2x,' +
                                'img/product-' + product.id + '.webp' type="image/webp"
                            )
                            img(
                                srcset=`img/product-` + product.id + '@2x.jpeg 2x'
                                src=`img/product-` + product.id + '.jpeg'
                            )
                    .item-product__body
                        .item-product__content
                            h5.item-product__title #{product.title}
                            p.item-product__text #{product.text}
                        .item-product__prices
                            span.item-product__price #{product.price}
                            if product.oldPrice
                                span.item-product__price.item-product__price--old #{product.oldPrice}
                        .item-product__actions.actions-product
                            .actions-product__body
                                a(href="#").actions-product__button.btn.btn--light Add to cart
                                a(href="#").actions-product__link
                                    +svg("#share", 24, 24)
                                    | Share
                                a(href="#").actions-product__link
                                    +svg("#heart", 24, 24)
                                    | Like
        .products__footer
            button.btn.btn--secondary Show More
